            {% block currency %}
            <div class="currency">
                <div class="moduletable">
                    <h3>Валюта:</h3>
                    <form id="select-form" class="xxx" action="refresh" method="get">
                        <select id="virtuemart_currency_id" name="currency_id" class="inputbox">
                        {% for curr in currency %}
                            {% if curr.id == selected %}
                                <option value="{{ curr.id }}" selected="selected">{{ curr.currency }} {{ curr.symb }}</option>
                            {% else %}                             
                                <option value="{{ curr.id }}">{{ curr.currency }} {{ curr.symb }}</option>
                            {% endif %}    
                        {% endfor %}
                        </select>
                        <input class="button" type="submit" name="submit" value="Изменить" />
                    </form>
                    <script src="{{ asset('/js/jqtransform.js') }}" type="text/javascript"></script>
                    <script src="{{ asset('/js/mylib3.js') }}" type="text/javascript"></script>
                </div>
            </div>
            {% endblock %}
