{% extends 'AcmeMobileBundle:Main:baseLayer.html.twig' %}
    {% block content %}
                    <div class="moduletable_slider">
                        <script src="{{ asset('/js/mylib6.js') }}" type="text/javascript"></script>
                        <div class="slideshowck_slider camera_wrap camera_amber_skin" id="camera_wrap_130" style="width:742px;">
                            <div data-thumb="/images/slider/slide1_th.jpg" data-src="{{ asset('/images/slider/slide1.jpg') }}" ></div>
                            <div data-thumb="/images/slider/slide2_th.jpg" data-src="{{ asset('/images/slider/slide2.jpg') }}" ></div>
                            <div data-thumb="/images/slider/slide3_th.jpg" data-src="{{ asset('/images/slider/slide3.jpg') }}" ></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="error err-space">
                        <div id="system-message-container"></div>
                    </div>
                    <div class="module_new">
                        <h3><span><span>Рекомендованные</span></span></h3>
                        <div class="boxIndent">
                            <div class="wrapper2">
                                <div class="vmgroup_new">
                                    <ul id="vmproduct" class="vmproduct_new">
                                        {{ render(controller('AcmeMobileBundle:Main:getFeaturedCar')) }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    {% endblock %}